In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('insurance_pre.csv')

In [3]:
dataset.head()

   age     sex     bmi  children smoker      charges
0   19  female  27.900         0    yes  16884.92400
1   18    male  33.770         1     no   1725.55230
2   28    male  33.000         3     no   4449.46200
3   33    male  22.705         0     no  21984.47061
4   32    male  28.880         0     no   3866.85520

In [4]:
dataset.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [5]:
dataset = pd.get_dummies(dataset, drop_first=True)

In [6]:
dataset.head()

   age     bmi  children      charges  sex_male  smoker_yes
0   19  27.900         0  16884.92400     False        True
1   18  33.770         1   1725.55230      True       False
2   28  33.000         3   4449.46200      True       False
3   33  22.705         0  21984.47061      True       False
4   32  28.880         0   3866.85520      True       False

In [7]:
dataset = dataset.astype(int)

In [8]:
dataset.head()

   age  bmi  children  charges  sex_male  smoker_yes
0   19   27         0    16884         0           1
1   18   33         1     1725         1           0
2   28   33         3     4449         1           0
3   33   22         0    21984         1           0
4   32   28         0     3866         1           0

In [9]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [10]:
independent = dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
dependent = dataset[['charges']]

In [11]:
independent.head()

   age  bmi  children  sex_male  smoker_yes
0   19   27         0         0           1
1   18   33         1         1           0
2   28   33         3         1           0
3   33   22         0         1           0
4   32   28         0         1           0

In [12]:
dependent.head()

   charges
0    16884
1     1725
2     4449
3    21984
4     3866

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(independent,dependent, test_size = 0.2, random_state = 0)

In [183]:
from sklearn.linear_model import LinearRegression
Regressor_MLR = LinearRegression()
Regressor_MLR = Regressor_MLR.fit(X_train,y_train)

In [184]:
y_pred_MLR = Regressor_MLR.predict(X_test)

In [185]:
from sklearn.metrics import r2_score

In [186]:
R_score_MLR = r2_score(y_test, y_pred_MLR)
print(R_score_MLR)

0.7974504524086945

In [187]:
from sklearn.svm import SVR
Regressor_SVM = SVR(kernel='sigmoid',C=1000)
Regressor_SVM = Regressor_SVM.fit(X_train,y_train)

C:\Users\mugilans\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [188]:
y_pred_SVM = Regressor_SVM.predict(X_test)

In [189]:
R_score_SVM = r2_score(y_test, y_pred_SVM)
print(R_score_SVM)

-2.3264379753014337

In [190]:
from sklearn.tree import DecisionTreeRegressor
Regressor_DT = DecisionTreeRegressor(criterion='poisson', splitter='random',max_features='sqrt')
Regressor_DT = Regressor_DT.fit(X_train,y_train)

In [191]:
y_pred_DT = Regressor_DT.predict(X_test)

In [192]:
R_score_DT = r2_score(y_test, y_pred_DT)
print(R_score_DT)

0.6372452564464781

In [193]:
from sklearn.ensemble import RandomForestRegressor
Regressor_RF = RandomForestRegressor(n_estimators = 100, criterion='absolute_error', max_features='log2')
Regressor_RF = Regressor_RF.fit(X_train,y_train)

C:\Users\mugilans\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [194]:
y_pred_RF = Regressor_RF.predict(X_test)

In [195]:
R_score_RF = r2_score(y_test, y_pred_RF)
print(R_score_RF)

0.8822505193733987

In [196]:
import pickle
filename = "Final_Model_Insurance.sav"

In [197]:
Load_Model = pickle.dump(Regressor_RF,open("Final_Model_Insurance.sav", 'wb'))
Load_Model = pickle.load(open("Final_Model_Insurance.sav", 'rb'))
result = Load_Model.predict([[37,0,27,2,1]])
print(result)

[21513.665]

C:\Users\mugilans\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(